.center {
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 4.5vw;
    font-family: Open Sans Regular;
    height: auto;
    padding-block-end: 100%;
    position: relative;
    max-width: 100%;
}
.center p{
    margin: 0;
    padding-block-start: 5vw;
}
.center img {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
}